* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.block1 {
  height: 5vh;
  width: 100vw;
  background-color: lightgray;
}
.block2 {
  height: 85vh;
  width: 100vw;
  display: flex;
  justify-content: left;
}
.block2 > :nth-child(1) {
  width: 30%;
  background-color: rgb(92, 91, 91);
}
.block2 > :nth-child(2) {
  width: 40%;
  height: 100%;
  background-color: rgb(65, 63, 63);
}

.block4 {
  width: 100vw;
  flex-grow: 1;
  background-color: rgb(144, 138, 138);
}

.r-sidebar {
  width: auto;
  height: 100%;
  flex-grow: 1;
  background-color: rgb(214, 53, 53);
}
.r-sidebar > :nth-child(1) {
  background-color: rgb(157, 149, 149);
  height: 60%;
}
.r-sidebar > :nth-child(2) {
  background-color: rgb(105, 90, 90);
  height: 40%;
}
