* {
  margin: 0;
  padding: 0;
}

.block {
  width: 200px;
  height: 200px;
  margin: 20px;
  border: 2px solid black;
  position: relative;
}
.block > div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: 100px;
  animation: frame 2s linear infinite;
}
@keyframes frame {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(100px, 90px);
  }
  50% {
    transform: translate(190px, 0px);
  }
  75% {
    transform: translate(100px, -100px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
