* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}
.wrapper {
  width: 100%;
  height: auto;
  border: 1px solid;
  margin: 10px auto;

  background: #071341;
}
header {
  width: 100%;
  height: 113px;
  /* border: 1px solid; */
  padding: 0 115px;
  background: #24204a;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h2 {
  /* width: 71px;
    height: 24px; */
  font-weight: 700;
  font-size: 20px;
  color: #e5e5e5;
  opacity: 0.6;
  cursor: pointer;
}
header li {
  display: inline-block;
  height: 19px;
  margin: 0 20px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  opacity: 0.6;
  cursor: pointer;
}
.one-position-section {
  width: 100%;
  height: 530px;
  background: #071341;
  padding: 0 115px;
  gap: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftContent {
  width: 570px;
  height: 366px;
  /* border: solid black; */
}
h1 {
  width: 230px;
  height: 88px;
  color: white;
  margin: 32px 0;
}
.leftContent p:nth-of-type(1) {
  width: 145px;
  height: 41px;
  font-weight: 500;
  background: #4b4864;
  border-radius: 8px;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.05em;
  color: #8e88c1;
}
.leftContent p:nth-of-type(2) {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.05em;
  color: #8e88c1;
}
.leftContent button {
  border-radius: 8px;
  width: 200px;
  height: 56px;
  box-shadow: 0 6px 20px 0 rgba(0, 255, 224, 0.2);
  background: #3f50e7;
  color: white;
  margin-top: 32px;
}
.blockBulb {
  border-radius: 8px;
  width: 375px;
  height: 411px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.25);
  background: #827eac;
  object-fit: fill;
}
.section2 {
  width: 100%;
  height: 764px;
  background: #24204a;
  padding: 50px 115px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
}
.block-of-colour-cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* border: solid black; */
}
.block-of-colour-cards div div:nth-child(1) {
  border-radius: 8px;
  width: 56px;
  height: 56px;
}
.block-of-colour-cards div div:nth-child(2) :first-child {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  margin-top: 10px;
}
.block-of-colour-cards div div:nth-child(2) :last-child {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #8e88c1;
}
.block-of-colour-cards div:nth-child(1) div:first-child {
  background: #ff6853;
}
.block-of-colour-cards div:nth-child(2) div:first-child {
  background: #ff537c;
}
.block-of-colour-cards div:nth-child(3) div:first-child {
  background: #80d2c4;
}
.block-of-colour-cards div:nth-child(4) div:first-child {
  background: #3f50e7;
}
.block-of-colour-cards div:nth-child(5) div:first-child {
  background: #95cb7c;
}
.flax-left {
  display: flex;
  justify-content: left;
  column-gap: 10px;
}
.section2 h2 {
  width: 1000px;
  /* border: solid black; */
  /* margin-top: 50px; */
  font-weight: 700;
  font-size: 36px;
  line-height: 117%;
  text-align: center;
  color: #fff;
}
.section2 p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-align: center;
  color: #8e88c1;
}
.cards{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.card{
  border: 2px solid #8e88c1;
border-radius: 8px;
width: 209px;
height: 206px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
row-gap: 26px;
}
.card div{
  fill: #8e88c1;
}
.card p{
  font-weight: 500;
font-size: 16px;
line-height: 125%;
letter-spacing: 0.05em;
text-align: center;
color: #8e88c1;
}
footer{
  height: 94px;
}
footer p{
  font-weight: 500;
font-size: 12px;
line-height: 200%;
color: #fff;
}