* {
  padding: 0;
  margin: 0;
}
.wrapper {
  width: 200px;
  height: 200px;
  border: 20px solid rgb(65, 225, 59);
  margin: 50px;
  border-radius: 50%;
  border-bottom-color:greenyellow ;
  border-top-color:greenyellow ;
}
.wrapper > div {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
  animation: mowe 2s linear infinite;
}
.wrapper > div > div {
  width: 20px;
  height: 20px;
  background-color: rgb(45, 13, 173);
  border-radius: 50%;
  position: absolute;
  top: 27px;
}

@keyframes mowe{
    from{transform: rotate(0);}
    to{transform: rotate(360deg);}
}