@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Fjalla+One&family=Indie+Flower&family=Rubik+Pixels&family=Sedgwick+Ave+Display&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: space-evenly;
}
.block{
    width: 200px;
    height: 200px;
    background-color: bisque;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
div:nth-child(1) {
    font-family: "Rubik Pixels", system-ui;
  font-weight: 400;
  font-style: normal;
}

div:nth-child(2){
    font-family: "Sedgwick Ave Display", cursive;
  font-weight: 400;
  font-style: normal;
}
 div:nth-child(3){
    font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
   font-weight: 400; 
  font-style: normal;
} 
div:nth-child(4){
font-family: "Fjalla One", sans-serif;
  font-weight: 500;
  font-style: normal;
}
div:nth-child(5)> h3{
    font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}