*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    border: 1px solid black;
}
.wrapper{
    width: 500px;
    height: 300px;
    margin: 100px auto;
    border-radius: 10px;
}
.wrapper >:first-child{
    width: 100%;
    height: 70px;
    background-color:rgb(237, 242, 241) ;
    display: flex;
    align-items: center;
}

h1 {
    text-align: center;
    width: 100%;
}
ul{
    list-style: none;
}
li{
    width: 80%;
    height: 30px;
    margin: 20px auto ;
}
input:not([type="checkbox"]){
    width: 100%;
    height: 100%;
}

input[type="checkbox"]{
    margin-bottom:0;
}
button{
    width: 90px;
    height: 30px;
    border-radius: 10px;
    background-color:rgb(237, 242, 241) ;
}
li:last-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
}