* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
div {
  border: 1px solid black;
}
body {
  padding: 10px;
}
.header {
  height: 150px;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}
h2 {
  color: white;
  
}
.flex {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}
.block {
  width: calc(100% / 3);
  height: 200px;
  position: relative;
  background-color: darkblue;
}
.block h4 {
  width: 100%;
  color: white;
  opacity: .7;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.content {
  background-color: blue;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
