*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.block1{
    height: 5vh;
    background-color: lightgray;
}
.block2{
    height: 60vh;
    display: flex;  
}
.l-sidebar,.r-sidebar{
    width: 27%;
    background-color: rgb(92, 91, 91);
}
.main{
    flex-grow: 1;
background-color: darkgray;
}
.main-child1{
    background-color: rgb(143, 132, 132);
    height: 50%;
}
.main-child2{
    background-color: rgb(170, 166, 166);
    height: 50%;
}
.block3{
    flex-grow: 1;
    background-color: rgb(122, 117, 117);

}
