* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 128px 260px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
img {
  width: 100%;
  height: 279px;
  border-radius: 10px;
}
figure {
  width: 372px;
  height: 354px;
}
h2 {
  width: 100%;
  height: 24px;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #000;
}
p {
  padding: 15px 0px 0px;
  height: 31px;
  text-align: center;
  font-weight: 700;
  font-size: 13px;
  line-height: 120%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #3c3c43;
}
@media screen and (min-width: 769px) and (max-width: 1279px) {
  body {
    padding: 30px 24px;
  }
  figure {
    width: 318px;
  }
}
@media screen and (max-width: 480px) {
  body {
    padding: 25px 20px;
    flex-direction: column;
    gap: 30px;
  }
  figure {
    width: 100%;
  }
}
