*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

}
.card{
    border: 4px solid #554c4c;
width: 319px;
height: 492px;
position: relative;
background: rgba(217, 217, 217, 0.3);

}
.card div{
    width: 100px;
    height: 100px;
    border: 4px solid black;
    border-radius: 50%;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    top: -50px;
}
h2{
    font-weight: 400;
font-size: 40px;
color: #000;
}
p{
    width: 211px;
    height: 72px;
    font-weight: 400;
font-size: 20px;
text-align: center;
color: #000;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}