@import url("https://fonts.googleapis.com/css2?family=Bowlby+One&family=Dancing+Script:wght@400..700&family=Fjalla+One&family=Indie+Flower&family=Rubik+Pixels&family=Sedgwick+Ave+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  background-color: #1e1e1e;
}
.wrapper {
  width: 1440px;
  height: max-content;
  margin: 10px auto;
  padding: 50px;
  background-color: #1e1e1e;
}
header {
  display: flex;
  justify-content: end;
}
header ul {
  display: flex;
  font-family: "Bowlby One", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 97%;
  text-transform: uppercase;
}
header li {
  padding: 10px 20px;
}
header li:not(:nth-child(3)) {
  color: #e9e3dc;
}

header li:nth-child(3) {
  background: #b3a0cd;
  color: #1e1e1e;
}
h1 {
  margin-top: 50px;
  padding: 0 70px;
  font-family: "Bowlby One", sans-serif;
  font-weight: 400;
  font-size: 107px;
  line-height: 89%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #e9e3dc;
}
.center {
  display: flex;
  justify-content: center;
}
.burger img {
  width: 700px;
  height: 396px;
}
.burgerAbout {
  border: 4px solid #1e1e1e;
  border-radius: 30px;
  height: 369px;
  background: #d1ef53;
  margin-top: 20px;
  column-gap: 20px;
}
.burgerAbout div {
  width: 50%;
  height: 100%;
  /* border: 4px solid #1e1e1e; */
}
h2 {
  font-family: "Bowlby One", sans-serif;
  font-weight: 400;
  font-size: 70px;
  line-height: 89%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #1e1e1e;
  transform: translate(15%, 50%);
}
.burgerAbout div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.burgerAbout div:nth-child(2) p {
  width: 521px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #1e1e1e;
}
.burgerAbout div:nth-child(2) button {
  border: 4px solid #1e1e1e;
  height: 60px;
  width: 176px;
  margin-top: 60px;
  box-shadow: 8px 8px 0 0 #000;
  background: #e9e3dc;
  font-family: "Bowlby One", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 97%;
  text-transform: uppercase;
  text-align: center;
  color: #1e1e1e;
}
.food {
  margin: 60px 0;
  display: flex;
  justify-content: space-between;
}
.lastBlock {
  margin: 60px auto 0;
  width: 895px;
  height: 235px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lastBlock p {
  font-family: "Bowlby One", sans-serif;
  font-weight: 400;
  font-size: 70px;
  line-height: 102%;
  text-transform: uppercase;
  text-align: center;
  color: #e9e3dc;
  margin-bottom: 30px;
}
.lastBlock button {
  width: 196px;
  height: 60px;
  font-weight: 400;
  background-color: yellow;
  font-family: "Bowlby One", sans-serif;
  font-size: 18px;
  line-height: 97%;
  text-transform: uppercase;
  text-align: center;
  color: #1e1e1e;
}
