* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.block1 {
  height: 10vh;
  width: 100vw;
  background-color: lightgray;
}
.block2 {
  height: 75vh;
  width: 100vw;
  display: flex;
  color: white;
}
.block3 {
  width: 100vw;
  height: 10vh;
  background-color: gray;
}
.block3 {
  width: 100vw;
  flex-grow: 1;
  background-color: rgb(165, 161, 161);
}
.block2 > :nth-child(1) {
  width: 75%;
  height: 100%;
  background-color: rgb(92, 91, 91);
  display: flex;
  flex-direction: column;
}
.block2 > :nth-child(1)>div{
  flex-grow: 1;
}
.block2 > :nth-child(1)>:nth-child(1){
  background-color:rgb(101, 100, 100) ;
}
.block2 > :nth-child(1)>:nth-child(2){
  background-color:rgb(141, 118, 118) ;
}
.block2 > :nth-child(1)>:nth-child(3){
  background-color:rgb(80, 43, 43) ;
}
.r-sidebar {
  width: auto;
  height: 100%;
  flex-grow: 1;
  background-color: rgb(214, 53, 53);
}
span{
  font-size: 20px;
}
.r-sidebar > :nth-child(1) {
  background-color: rgb(157, 149, 149);
  height: 50%;
}
.r-sidebar > :nth-child(2) {
  background-color: rgb(105, 90, 90);
  height: 50%;
}
p{
  width: max-content;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
