*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* div{
    border: 1px solid black;
} */
.main{
    width: 600px;
    margin: 10px;
    padding: 0 10px;
}
h3, h5{
    text-align: center;
    margin: 10px 0;
}
.wraper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
}
.card{
    width: 100px;
    height: 150px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
}
figcaption{
    text-align: center;
    margin-top: 20px;
}
img{
    width: 100%;
}
hr{
    margin: 10px 0;
}