*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div{
    width: 100vw;
}
.block1,.block3{
    height: 20vh;
    background-color: lightgray;
}
.block2{
    height: 60vh;
    background-color: darkgray;
}
